{% extends 'base.html' %}

{% load widget_tweaks %}

{% block content %}
<section class="container my-5">


<h1 class="text-center mb-5">Adicionar Usuário</h1>
<form method="post">{% csrf_token %}
    <div class="row">
        {% for field in form %}

        {% if field.errors %}
        <div class="col-4 mb-4">
            <label for="{{ field.name }}">{{field.label}}</label>
            {{ field | add_class:"form-control is-invalid"}}

            {% for erro in field.errors %}
            <span class="text-danger">{{ erro }}</span> </br>
            {% endfor %}
        </div>
        {% else %}

        <div class="col-4 mb-4">
            <label for="{{ field.name }}">{{field.label}}</label>
            {{ field | add_class:"form-control"}}
        </div>

        {% endif %}


        {% endfor %}


    </div>
    <input type="submit" class="btn btn-outline-success" value="Cadastrar" />
</form>

</section>
{% endblock %}


{% block scripts %}
    <!-- <script type="text/javascript">
        $(document).ready(function () {
            $('#id_telefone').mask('(00) 0 0000-0000');
            $('#id_cpf').mask('000.000.000-00');
        });
    </script> -->
{% endblock %}