{% extends 'base.html' %}

{% load widget_tweaks %}

{% block title %}Recuperação de Senha{% endblock %}

{% block content %}
<section class="container my-5">


<h2 class="text-center">Recuperação de Senha</h2>

{% if validlink %}

<div class="alert alert-info my-5" role="alert">
    Digite sua nova senha duas vezes para que possamos verificar se você a digitou corretamente.
</div>

{% if form.errors %}
<div class="alert alert-danger alert-dismissible fade show my-5" role="alert">
    <strong>Falha na Recuperação!</strong> As senhas não coincidem.
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endif %}

<form method="post">{% csrf_token %}
    <div class="row">
        {% for field in form %}
        <div class="col-12 mb-4">
            <label for="{{ field.name }}">{{field.label}}</label>
            {{ field | add_class:"form-control"}}
        </div>
        {% endfor %}
    </div>
    <input type="submit" class="btn btn-outline-success btn-login" value="Criar nova senha" />
</form>

{% else %}
O link de redefinição de senha é inválido, possivelmente porque já foi usado. Por favor solicite uma nova redefinição de
senha!
{% endif %}

</section>
{% endblock %}