{% extends 'base.html' %}
{% load widget_tweaks %}

{% block title %} SisHE - Create {% endblock title %}
{% block content %}
<section class="container my-5">

    <!-- exibindo messages do django -->
    {% if messages %}
        {% for message in messages %}
            {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endif %}
        {% endfor %}
    {% endif %}


    <h2>Professores</h2>

    <div class="row">
        <div class="col-md-4">
            <div class="card card-nav-tabs">
                <div class="card-header card-header-success text-center">
                    Cadastrar Professor
                </div>
                <div class="card-body mt-3">
                    <form method="post" class="form-group">{% csrf_token %}
                        
                        {% for field in form %}

                            <!-- Dias da semana -->
                            {% if field.name == "school_days" %}
                                <div class="form-group">
                                    <label for="{{ field.name }}">{{field.label}}</label><br/>
                                    {% for value, text in form.school_days.field.choices %}
                                        <div class="form-check form-check-inline">
                                            <label class="form-check-label">
                                            <input class="form-check-input" type="checkbox" id="id_school_days_{{ forloop.counter0 }}" name="{{ form.school_days.name }}" value="{{ value }}" {% if value in field.value %} checked="checked" {% endif %}> {{ text }}
                                            <span class="form-check-sign">
                                                <span class="check"></span>
                                            </span>
                                            </label>
                                        </div>
                                        
                                    {% endfor %}
                                </div>
                                <!-- {% if field.value %} checked {% endif %} -->
                            <!-- outros inputs -->
                            {% else %}
                                <div class="form-group">
                                    <label for="{{ field.name }}">{{field.label}}</label>
                                    {{ field | add_class:"form-control"}}
                                </div>
                            {% endif %}
                        {% endfor %}

                        <input class="btn btn-success my-3" type="submit" value="Adicionar" />
                    </form>
                </div>
            </div>
        </div>

        <div class="col-md-8">
            <div class="card card-nav-tabs ">
                <div class="card-header card-header-success text-center">
                    Listagem de Professores
                </div>
                <div class="card-body mt-3">
                    <table class="table pt-4 mb-4" id='myTable'>
                        <thead>
                            <tr>
                                <th>Nome</th>
                                <th class="text-right">Opções</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for object in object_list %}
                            <tr>
                                <td>{{ object.name }}</td>
                                <td class="td-actions text-right">
                                    <a href="{% url 'accounts:teacher_update' object.pk %}">
                                        <button type="button" rel="tooltip" class="btn btn-success p-2">
                                            <i class="material-icons">edit</i>
                                        </button>
                                    </a>
                                    <a href="{% url 'accounts:teacher_delete' object.id %}">
                                        <button type="button" rel="tooltip" class="btn btn-danger p-2">
                                            <i class="material-icons">close</i>
                                        </button>
                                    </a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>

</section>



{% endblock content %}