{% load static %}


<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title%}{% endblock %}</title>

    
    <link href="{% static 'my_css/my_style.css' %}" rel="stylesheet" />
    
    <!--     Fonts and icons     -->
    <link rel="stylesheet" type="text/css"
    href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
    <!-- CSS Files -->
    <!-- <link href="{% static 'material-kit-master/assets/css/material-kit.min.css' %}" rel="stylesheet" /> -->
    <link href="{% static 'material-kit-master/assets/css/material-kit.css' %}" rel="stylesheet" />

    <!-- CSS Just for demo purpose, don't include it in your project -->
    <link href="{% static 'material-kit-master/assets/demo/demo.css' %}" rel="stylesheet" />
    
    
    <!-- datatable -->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css">
    
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/docsearch.js/2/docsearch.min.css" />
    <link rel="stylesheet" href="{% static 'material-kit-master/assets/demo/docs.min.css' %}"> -->



</head>

<body>

    <header>
        <nav class="navbar navbar-expand-lg bg-success">
            <div class="container">
                <a class="navbar-brand" href="{% url 'core:index' %}">Sis<strong>HE</strong></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="navbar-toggler-icon"></span>
                    <span class="navbar-toggler-icon"></span>
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                    <ul class="navbar-nav">


                        {% if request.user.is_authenticated %}
                        <!-- <li class="nav-item">
                            <a class="nav-link" href="#">Horário Individual <span class="sr-only">(current)</span></a>
                        </li> -->
                        <!-- <li class="nav-item">
                            <a class="nav-link" href="{% url 'accounts:axis_create' %}">Eixo</a> 
                        </li> -->
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'school:schedule_semester' %}">Horários</a> 
                        </li> 
                        
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Usuários
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" href="{% url 'accounts:user_create' %}">Coordenadores</a>
                                <a class="dropdown-item" href="{% url 'accounts:axis_create' %}">Eixo</a>
                                <a class="dropdown-item" href="{% url 'accounts:teacher_create' %}">Professores</a>
                            </div>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Escola
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                
                                <!-- <a class="dropdown-item" href="">Turno</a> -->
                                
                                <a class="dropdown-item" href="{% url 'school:course_create' %}">Cursos</a>
                                <a class="dropdown-item" href="{% url 'school:semester_create' %}">Periodo Letivo</a>                             
                            </div>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                {% if request.user.name %}
                                    {{ request.user.first_name}}
                                {% else %}
                                    {{ request.user.username}}
                                {% endif %}

                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <!-- <a class="dropdown-item" href="#">Perfil</a> -->
                                <a class="dropdown-item" href="{% url 'accounts:password_change' %}">Alterar Senha</a>
                                <a class="dropdown-item" href="{% url 'accounts:logout'%}">Sair</a>
                            </div>
                        </li>
                        {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'accounts:login'%}">Login</a>
                        </li>
                        {% endif %}



                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <main>
        {% block content%}{% endblock %}

    </main>

    <footer></footer>

    {% block scripts %} 
    <!--   Core JS Files   -->
    
    <script src="{% static 'material-kit-master/assets/js/core/jquery.min.js' %}"></script>
    <script src="{% static 'material-kit-master/assets/js/core/popper.min.js' %}"></script>
    <script src="{% static 'material-kit-master/assets/js/core/bootstrap-material-design.min.js' %}"></script>
    <script src="{% static 'material-kit-master/assets/js/plugins/moment.min.js' %}"></script>
    <!--	Plugin for the Datepicker, full documentation here: https://github.com/Eonasdan/bootstrap-datetimepicker -->
    <script src="{% static 'material-kit-master/assets/js/plugins/bootstrap-datetimepicker.js' %}"></script>
    <!--  Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
    <script src="{% static 'material-kit-master/assets/js/plugins/nouislider.min.js' %}"></script>
    <!--  Google Maps Plugin    -->
    <!-- Control Center for Material Kit: parallax effects, scripts for the example pages etc -->
    <script src="{% static 'material-kit-master/assets/js/material-kit.js' %}"></script>

    <!-- datatable -->
    <script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>

    <!-- <script src="{% static 'my_js/my_scripts.js' %}"></script> -->


    <!-- novos -->
    <!-- <script src="{% static 'material-kit-master/assets/js/core/popper.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'material-kit-master/assets/js/core/bootstrap-material-design.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'material-kit-master/assets/js/plugins/moment.min.js' %}"></script>

    <script src="{% static 'material-kit-master/assets/js/plugins/bootstrap-datetimepicker.js' %}" type="text/javascript"></script>

    <script src="{% static 'material-kit-master/assets/js/plugins/nouislider.min.js' %}" type="text/javascript"></script>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB2Yno10-YTnLjjn_Vtk0V8cdcY5lC4plU"></script>

    <script async defer src="https://buttons.github.io/buttons.js"></script>

    <script src="{% static 'material-kit-master/assets/js/plugins/jquery.sharrre.js' %}" type="text/javascript"></script>

    <script src="{% static 'material-kit-master/assets/js/plugins/bootstrap-tagsinput.js' %}"></script>

    <script src="{% static 'material-kit-master/assets/js/plugins/bootstrap-selectpicker.js' %}" type="text/javascript"></script>

    <script src="{% static 'material-kit-master/assets/js/plugins/jasny-bootstrap.min.js' %}" type="text/javascript"></script>

    <script src="{% static 'material-kit-master/assets/js/plugins/jquery.flexisel.js' %}" type="text/javascript"></script>

    <script async defer src="https://buttons.github.io/buttons.js"></script>

    <script src="{% static 'material-kit-master/assets/demo/demo.js' %}" type="text/javascript"></script>

    <script src="{% static 'material-kit-master/assets/js/material-kit.min.js' %}" type="text/javascript"></script>

    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-46172202-12"></script> -->

    <script>
        $(document).ready(function () {
            //init DateTimePickers
            materialKit.initFormExtendedDatetimepickers();

            // Sliders Init
            materialKit.initSliders();
        });


        function scrollToDownload() {
            if ($('.section-download').length != 0) {
                $("html, body").animate({
                    scrollTop: $('.section-download').offset().top
                }, 1000);
            }
        }


        $(document).ready(function () {
            $('#myTable').DataTable(
                {
                    language: {
                        "sLengthMenu": "Mostrar _MENU_ registros por página",
                        "sZeroRecords": "Nenhum registro encontrado",
                        "sInfo": "Mostrando _START_ / _END_ de _TOTAL_ registro(s)",
                        "sInfoEmpty": "Mostrando 0 / 0 de 0 registros",
                        "sInfoFiltered": "(filtrado de _MAX_ registros)",
                        "sSearch": "Pesquisar: ",
                        "oPaginate": {
                            "sFirst": "Início",
                            "sPrevious": "Anterior",
                            "sNext": "Próximo",
                            "sLast": "Último"
                        }
                    }

                }
            );

        });

    
        
    </script>

    
    {% endblock %}

</body>

</html>